.about {
    padding: 20rem 0 0;

    @media #{$xs} {
        padding: 14rem 0 0;
    }

    &__title {

        h2 {
            font-size: 6.4rem;
            font-weight: 700;
            margin: 0;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: baseline;

            @media #{$xs} {
                font-size: 3.2rem;
                margin: 0 0 2rem;
            }

            @media #{$md} {
                font-size: 4.2rem;
            }

            @media #{$lg} {
                font-size: 4.2rem;
            }

            span {
                background-color: #000;
                padding: 0 2rem;
                display: inline-block;
                border-radius: 1.6rem;
            }
        }

    }

    &__content {
        span {
            font-size: 2rem;
            font-weight: 600;
            color: $white;
            margin: 0 0 2rem;
            display: block;
            text-transform: uppercase;
        }

        p {
            font-size: 2rem;
            font-weight: 400;
            color: #b9b9b9;
            margin: 0;
        }
    }

    &__accordion {
        .accordion {
            --bs-accordion-bg: transparent;
        }

        .accordion-item {
            border: none;
        }

        .accordion-button:not(.collapsed) {
            background-color: transparent;
            box-shadow: none;
            color: #fff;
        }

        .accordion-button {
            font-size: 2.4rem;
            font-weight: 700;
            margin: 0;
            color: #fff;
            border-bottom: 0.83px solid #FFFFFF26;

            &:focus {
                box-shadow: none;
            }

            @media #{$xs} {
                font-size: 1.8rem;
            }
        }

        .accordion-body {
            font-size: 1.6rem;
            font-weight: 400;
            color: #fff;

            @media #{$xs} {
                font-size: 1.4rem;
            }
        }

        .accordion-button::after {
            background-image: url(../assets/img/icons/plus.svg);
            width: 3.2rem;
            height: 3.2rem;
            background-size: unset;
        }

        .accordion-button:not(.collapsed)::after {
            background-image: url(../assets/img/icons/minus.svg);
        }
    }

    &__row {
        margin: 10rem 0 0;

        @media #{$xs} {
            margin: 4rem 0 0;
        }
    }

    &__arrow {
        position: relative;
        -webkit-animation: arrowUp 1.5s infinite;
        animation: arrowUp 1.5s infinite;
        z-index: 2;

        @media #{$xs} {
            display: none;
        }

        img {
            position: absolute;
            top: 50%;
            left: 30%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -41%);
            z-index: 2;
        }
    }
}

.head {
    padding: 20rem 0 8rem;

    @media #{$xs} {
        padding: 14rem 0 4rem;
    }

    &__title {
        h1 {
            color: #fff;
            font-weight: 700;
            font-size: 6.4rem;
            margin: 0 0 4rem;
            text-align: center;
        }

        h2 {
            font-size: 3.2rem;
            font-weight: 600;
            margin: 0 0 1.6rem;
            color: #fff;
        }

        p {
            font-size: 2rem;
            font-weight: 400;
            color: #fff;
            margin: 0 0 1.6rem;
        }
    }

}

.story {
    padding: 10rem 0;
    background: linear-gradient(98.64deg, #171A21 0.52%, rgba(23, 26, 33, 0) 99.49%);


    &__content {
        h2 {
            font-size: 5.6rem;
            color: #fff;
            font-weight: 700;
            margin: 0 0 1.6rem;
        }

        h3 {
            font-size: 3.2rem;
            font-weight: 500;
            margin: 0 0 1.6rem;
            color: #fff;
        }

        p {
            font-size: 2rem;
            font-weight: 400;
            color: #fff;
            margin: 0 0 1.6rem;
        }
    }

    &__img {
        text-align: center;
    }
}

.mission {
    padding: 10rem 0;

    &__content {
        h2 {
            font-size: 5.6rem;
            color: #fff;
            font-weight: 700;
            margin: 0 0 4rem;
        }

        ul {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 2.4rem;

            li {
                list-style-type: none;
                background-color: #0073FF;
                padding: 2.4rem;
                font-size: 2rem;
                font-weight: 400;
                border-radius: 1.6rem;
                color: #fff;
            }
        }
    }

}

.core {
    padding: 10rem 0;
    background: linear-gradient(98.64deg, #171A21 0.52%, rgba(23, 26, 33, 0) 99.49%);


    &__content {
        h2 {
            font-size: 5.6rem;
            color: #fff;
            font-weight: 700;
            margin: 0 0 1.6rem;
        }

        h3 {
            font-size: 3.2rem;
            font-weight: 500;
            margin: 0 0 1.6rem;
            color: #fff;
        }

        p {
            font-size: 2rem;
            font-weight: 400;
            color: #fff;
            margin: 0 0 1.6rem;
        }
    }

    &__right {
        padding: 0 0 0 3rem;

        h4 {
            font-size: 2.4rem;
            font-weight: 700;
            margin: 0 0 2.4rem;
            color: #fff;
        }

        ul {
            padding: 0;
            margin: 0;

            li {
                list-style-type: none;
                color: #FFFFFFB2;
                font-size: 2rem;
                font-weight: 400;
                border-bottom: 1px solid #FFFFFF33;
                padding: 1.2rem 0;

                &:last-child {
                    border-bottom: none;

                }

                span {
                    font-weight: 700;
                    color: #fff;
                }
            }
        }
    }

}

.web {
    padding: 10rem 0;

    &__title {
        margin: 0 0 6rem;

        h2 {
            font-size: 5.6rem;
            color: #fff;
            font-weight: 700;
            margin: 0 0 1.6rem;
        }

        p {
            color: #fff;
            font-size: 2rem;
            font-weight: 400;
            margin: 0;
        }
    }

    &__list {
        ul {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 2.4rem;

            li {
                list-style-type: none;
                display: flex;
                align-items: center;
                gap: 1.6rem;
                color: #FFFFFFB2;
                font-size: 2.4rem;
                font-weight: 500;

                span {
                    color: #fff;
                    font-weight: 700;
                }
            }
        }
    }

    &__end {
        margin: 4rem 0 0;

        h3 {
            font-size: 2rem;
            font-weight: 500;
            margin: 0;
            color: #fff;
        }
    }
}

.team {
    padding: 10rem 0;
    background: linear-gradient(98.64deg, #171A21 0.52%, rgba(23, 26, 33, 0) 99.49%);


    &__content {
        h2 {
            font-size: 5.6rem;
            color: #fff;
            font-weight: 700;
            margin: 0 0 1.6rem;
        }

        h3 {
            font-size: 3.2rem;
            font-weight: 500;
            margin: 0 0 1.6rem;
            color: #fff;
        }

        p {
            font-size: 2rem;
            font-weight: 400;
            color: #fff;
            margin: 0 0 1.6rem;
        }
    }

    &__img {
        text-align: center;
    }
}

.value {
    padding: 10rem 0;

    &__title {
        h2 {
            font-size: 5.6rem;
            color: #fff;
            font-weight: 700;
            margin: 0 0 1.6rem;
        }

        p {
            font-size: 2rem;
            font-weight: 400;
            color: #fff;
            margin: 0;
        }
    }

    &__list {
        ul {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 1.6rem;

            li {
                list-style-type: none;
                border-radius: 3.2rem;
                background-color: #2B2B2B;
                padding: 3.6rem 3.2rem;
                display: flex;
                align-items: flex-start;
                gap: 2.4rem;
            }
        }
    }

    &__content {
        h3 {
            color: #fff;
            font-size: 2.4rem;
            font-weight: 500;
            margin: 0 0 1.2rem;
        }

        p {
            color: #FFFFFFB2;
            font-size: 1.6rem;
            font-weight: 400;
            margin: 0;
        }
    }
}

.idea {
    padding: 10rem 0;
    background: linear-gradient(98.64deg, #171A21 0.52%, rgba(23, 26, 33, 0) 99.49%);


    &__title {
        margin: 0 0 6rem;

        h2 {
            font-size: 5.6rem;
            color: #fff;
            font-weight: 700;
            margin: 0 0 1.6rem;
        }

        h3 {
            font-size: 3.2rem;
            font-weight: 500;
            margin: 0 0 1.6rem;
            color: #fff;
        }

        p {
            font-size: 2rem;
            font-weight: 400;
            color: #fff;
            margin: 0 0 1.6rem;
        }
    }

    &__list {
        ul {
            padding: 0;
            margin: 0;

            li {
                list-style-type: none;
                display: grid;
                grid-template-columns: 0.5fr 1fr 2fr;
                gap: 2rem;
                border-bottom: 1px solid #FFFFFF33;
                padding: 2.4rem 0;

                span {
                    color: #fff;
                    font-size: 2.4rem;
                    font-weight: 700;
                }

                p {
                    color: #FFFFFF;
                    font-size: 2rem;
                    font-weight: 400;
                    margin: 0;
                }
            }
        }
    }
}

.achievement {
    padding: 10rem 0;

    &__title {
        margin: 0 0 6rem;

        h2 {
            font-size: 5.6rem;
            color: #fff;
            font-weight: 700;
            margin: 0 0 1.6rem;
        }
    }

    &__list {
        ul {
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 2.4rem;
            justify-content: center;

            li {
                list-style-type: none;
                background-color: #0073FF;
                padding: 0.8rem;
                border-radius: 10rem;
                display: flex;
                align-items: center;
                gap: 1.2rem;

                span {
                    font-size: 2rem;
                    font-weight: 500;
                    color: #fff;
                }
            }
        }
    }
}

.partner {
    padding: 10rem 0;
    background: linear-gradient(98.64deg, #171A21 0.52%, rgba(23, 26, 33, 0) 99.49%);


    &__content {
        h2 {
            font-size: 5.6rem;
            color: #fff;
            font-weight: 700;
            margin: 0 0 1.6rem;
        }

        h3 {
            font-size: 3.2rem;
            font-weight: 500;
            margin: 0 0 1.6rem;
            color: #fff;
        }

        p {
            font-size: 2rem;
            font-weight: 400;
            color: #fff;
            margin: 0 0 1.6rem;
        }
    }

    &__img {
        text-align: center;
    }
}

.local {
    padding: 10rem 0;

    &__title {
        h2 {
            font-size: 5.6rem;
            color: #fff;
            font-weight: 700;
            margin: 0 0 1.6rem;
        }

        p {
            font-size: 2rem;
            font-weight: 400;
            color: #fff;
            margin: 0;
        }

    }
}