.about {
    padding: 20rem 0 0;

    @media #{$xs} {
        padding: 14rem 0 0;
    }

    &__title {

        h2 {
            font-size: 6.4rem;
            font-weight: 700;
            margin: 0;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: baseline;

            @media #{$xs} {
                font-size: 3.2rem;
                margin: 0 0 2rem;
            }

            @media #{$md} {
                font-size: 4.2rem;
            }

            @media #{$lg} {
                font-size: 4.2rem;
            }

            span {
                background-color: #000;
                padding: 0 2rem;
                display: inline-block;
                border-radius: 1.6rem;
            }
        }

    }

    &__content {
        span {
            font-size: 2rem;
            font-weight: 600;
            color: $white;
            margin: 0 0 2rem;
            display: block;
            text-transform: uppercase;
        }

        p {
            font-size: 2rem;
            font-weight: 400;
            color: #b9b9b9;
            margin: 0;
        }
    }

    &__accordion {
        .accordion {
            --bs-accordion-bg: transparent;
        }

        .accordion-item {
            border: none;
        }

        .accordion-button:not(.collapsed) {
            background-color: transparent;
            box-shadow: none;
            color: #fff;
        }

        .accordion-button {
            font-size: 2.4rem;
            font-weight: 700;
            margin: 0;
            color: #fff;
            border-bottom: 0.83px solid #FFFFFF26;

            &:focus {
                box-shadow: none;
            }

            @media #{$xs} {
                font-size: 1.8rem;
            }
        }

        .accordion-body {
            font-size: 1.6rem;
            font-weight: 400;
            color: #fff;

            @media #{$xs} {
                font-size: 1.4rem;
            }
        }

        .accordion-button::after {
            background-image: url(../assets/img/icons/plus.svg);
            width: 3.2rem;
            height: 3.2rem;
            background-size: unset;
        }

        .accordion-button:not(.collapsed)::after {
            background-image: url(../assets/img/icons/minus.svg);
        }
    }

    &__row {
        margin: 10rem 0 0;

        @media #{$xs} {
            margin: 4rem 0 0;
        }
    }

    &__arrow {
        position: relative;
        -webkit-animation: arrowUp 1.5s infinite;
        animation: arrowUp 1.5s infinite;
        z-index: 2;

        @media #{$xs} {
            display: none;
        }

        img {
            position: absolute;
            top: 50%;
            left: 30%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -41%);
            z-index: 2;
        }
    }
}