.connect {
    padding: 20rem 0 6rem;

    @media #{$xs} {
        padding: 14rem 0 6rem;
    }

    &__content {
        @media #{$xs} {
            text-align: center;
        }

        h1 {
            font-size: 6.4rem;
            font-weight: 700;
            margin: 0 0 4rem;
            color: #fff;

            @media #{$xs} {
                font-size: 4rem;
            }
        }

        h3 {
            font-size: 3.2rem;
            color: #fff;
            font-weight: 600;
            margin: 0 0 1.6rem;

            @media #{$xs} {
                font-size: 2.8rem;
            }
        }

        p {
            font-size: 2rem;
            font-weight: 400;
            margin: 0 0 1.6rem;
            color: #fff;

            @media #{$xs} {
                font-size: 1.4rem;
            }
        }
    }
}

.office {
    padding: 10rem 0;
    background: linear-gradient(98.64deg, #171A21 0.52%, rgba(23, 26, 33, 0) 99.49%);

    @media #{$xs} {
        padding: 5rem 0;
    }

    &__content {
        @media #{$xs} {
            text-align: center;
        }

        h2 {
            font-size: 5.6rem;
            color: #fff;
            font-weight: 700;
            margin: 0 0 2.4rem;

            @media #{$xs} {
                font-size: 4rem;
            }
        }

        p {
            color: #fff;
            font-size: 2rem;
            font-weight: 400;
            margin: 0 0 2.4rem;

            @media #{$xs} {
                font-size: 1.4rem;
            }
        }
    }

    &__address {
        margin: 0 0 2.4rem;

        @media #{$xs} {
            text-align: center;
        }

        h3 {
            font-size: 2rem;
            color: #fff;
            font-weight: 700;
            margin: 0;

            @media #{$xs} {
                font-size: 1.8rem;
            }
        }

        p {
            font-size: 2rem;
            color: #fff;
            font-weight: 400;
            margin: 0;

            @media #{$xs} {
                font-size: 1.4rem;
            }
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;

        @media #{$xs} {
            grid-template-columns: repeat(1, 1fr);
            text-align: center;
        }
    }

    &__card {
        @media #{$xs} {
            text-align: center;
        }

        h3 {
            font-size: 2.4rem;
            font-weight: 700;
            color: #fff;
            margin: 0 0 1.2rem;

            @media #{$xs} {
                font-size: 1.8rem;
            }
        }

        ul {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            li {
                display: flex;
                align-items: center;
                gap: 0.6rem;

                @media #{$xs} {
                    align-items: center;
                    justify-content: center;
                }

                p {
                    color: #fff;
                    font-size: 1.6rem;
                    font-weight: 700;
                    margin: 0;

                    @media #{$xs} {
                        text-align: center;

                    }
                }

                a,
                span {
                    font-size: 1.6rem;
                    font-weight: 500;
                    color: #fff;

                    @media #{$xs} {
                        text-align: center;
                    }
                }
            }
        }
    }

    &__map {
        @media #{$xs} {
            margin: 3rem 0 0;
        }

        iframe {
            width: 100%;
            border-radius: 1rem;
        }
    }

}

.start {
    padding: 10rem 0;

    @media #{$xs} {
        padding: 5rem 0;
    }

    &__title {
        text-align: center;

        h2 {
            font-size: 5.6rem;
            color: #fff;
            font-weight: 700;
            margin: 0 0 1.6rem;

            @media #{$xs} {
                font-size: 4rem;
            }
        }

        p {
            font-size: 2rem;
            font-weight: 400;
            color: #fff;
            margin: 0;

            @media #{$xs} {
                font-size: 1.4rem;
            }
        }
    }

    &__btn {
        margin: 4rem 0 0;
        display: flex;
        align-items: center;
        gap: 2.4rem;
        flex-wrap: wrap;
        justify-content: center;

        @media #{$xs} {
            justify-content: center;
            gap: 1.4rem;
        }

        a {
            font-size: 1.6rem;
            color: #fff;
            font-weight: 500;
            padding: 1.2rem 2.4rem;
            border-radius: 10rem;
            display: flex;
            align-items: center;
            gap: 0.4rem;

            &:nth-child(1) {
                background: #25D366;
            }

            &:nth-child(2) {
                background-color: #0073FF;

            }

        }
    }
}