.connect {
    padding: 20rem 0 6rem;

    @media #{$xs} {
        padding: 14rem 0 6rem;
    }

    &__content {
        h1 {
            font-size: 6.4rem;
            font-weight: 700;
            margin: 0 0 4rem;
            color: #fff;
        }

        h3 {
            font-size: 3.2rem;
            color: #fff;
            font-weight: 600;
            margin: 0 0 1.6rem;
        }

        p {
            font-size: 2rem;
            font-weight: 400;
            margin: 0 0 1.6rem;
            color: #fff;
        }
    }
}

.office {
    padding: 10rem 0;
    background: linear-gradient(98.64deg, #171A21 0.52%, rgba(23, 26, 33, 0) 99.49%);

    &__content {
        h2 {
            font-size: 5.6rem;
            color: #fff;
            font-weight: 700;
            margin: 0 0 2.4rem;
        }

        p {
            color: #fff;
            font-size: 2rem;
            font-weight: 400;
            margin: 0 0 2.4rem;
        }
    }

    &__address {
        margin: 0 0 2.4rem;

        h3 {
            font-size: 2rem;
            color: #fff;
            font-weight: 700;
            margin: 0;
        }

        p {
            font-size: 2rem;
            color: #fff;
            font-weight: 400;
            margin: 0;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    &__card {
        h3 {
            font-size: 2.4rem;
            font-weight: 700;
            color: #fff;
            margin: 0 0 1.2rem;
        }

        ul {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            li {
                display: flex;
                align-items: center;
                gap: 0.6rem;

                p {
                    color: #fff;
                    font-size: 1.6rem;
                    font-weight: 700;
                    margin: 0;
                }

                a,
                span {
                    font-size: 1.6rem;
                    font-weight: 500;
                    color: #fff;
                }
            }
        }
    }

    &__map {
        iframe {
            width: 100%;
            border-radius: 1rem;
        }
    }

}

.start {
    padding: 10rem 0;

    &__title {
        h2 {
            font-size: 5.6rem;
            color: #fff;
            font-weight: 700;
            margin: 0 0 1.6rem;
        }

        p {
            font-size: 2rem;
            font-weight: 400;
            color: #fff;
            margin: 0;
        }
    }

    &__btn {
        margin: 4rem 0 0;
        display: flex;
        align-items: center;
        gap: 2.4rem;

        a {
            font-size: 1.6rem;
            color: #fff;
            font-weight: 500;
            padding: 1.2rem 2.4rem;
            border-radius: 10rem;

            &:nth-child(1),
            &:nth-child(3) {
                background-color: #0073FF;
            }

            &:nth-child(2) {
                background: #25D366;

            }

        }
    }
}