.svc {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        h1 {
            font-size: 5.6rem;
            font-weight: 700;
            margin: 0 0 2rem;
            color: $white;
        }

        p {
            font-size: 1.8rem;
            font-weight: 500;
            margin: 0 0 2rem;
            color: #b9b9b9;
        }
    }
}

.abt {
    padding: 10rem 0;
    background: linear-gradient(98.64deg, #171A21 0.52%, rgba(23, 26, 33, 0) 99.49%);

    &__content {
        h2 {
            font-size: 5.2rem;
            font-weight: 600;
            color: #fff;
            margin: 0 0 2rem;
        }

        p {
            font-size: 1.8rem;
            font-weight: 500;
            margin: 0 0 2rem;
            color: #b9b9b9;
        }
    }

    &__list {
        margin: 6rem 0 0;

        h3 {
            font-size: 3rem;
            font-weight: 500;
            color: #fff;
            margin: 0 0 3rem;
            text-align: center;
        }

        ul {
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            gap: 2rem;

            li {
                list-style-type: none;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 1rem;
                text-align: center;
                background-color: #2B2B2B;
                padding: 2.5rem 4rem;
                border-radius: 1.6rem;

                img {
                    width: 10rem;
                }

                span {
                    font-size: 1.8rem;
                    font-weight: 500;
                    color: #fff;
                }
            }
        }
    }
}

.trust {
    padding: 10rem 0;

    &__title {
        h2 {
            font-size: 5.2rem;
            font-weight: 600;
            color: #fff;
            margin: 0 0 2rem;
        }

        p {
            font-size: 1.8rem;
            font-weight: 500;
            margin: 0;
            color: #b9b9b9;
        }
    }

    &__right {
        padding: 0 0 0 3rem;

        h3 {
            font-size: 3rem;
            font-weight: 500;
            color: #fff;
            margin: 0 0 3rem;
        }
    }

    &__list {
        ul {
            padding: 0;
            margin: 0;

            li {
                list-style-type: none;
                display: grid;
                grid-template-columns: 1fr 2fr;
                gap: 3rem;
                border-bottom: 0.83px solid rgba(255, 255, 255, 0.1490196078);
                padding: 2rem 0;

                h4 {
                    font-size: 2rem;
                    font-weight: 500;
                    color: #fff;
                    margin: 0;
                }

                p {
                    font-size: 1.4rem;
                    color: #b9b9b9;
                    font-weight: 400;
                    margin: 0;
                }
            }
        }
    }
}

.step {
    padding: 10rem 0;
    background: linear-gradient(98.64deg, #171A21 0.52%, rgba(23, 26, 33, 0) 99.49%);

    &__title {
        h2 {
            font-size: 5.2rem;
            font-weight: 600;
            color: #fff;
            margin: 0 0 2rem;
        }

        p {
            font-size: 1.8rem;
            font-weight: 500;
            margin: 0;
            color: #b9b9b9;
        }
    }

    &__row {
        margin: 6rem 0 0;
        border-top: 0.83px solid rgba(255, 255, 255, 0.1490196078);

        ul {
            padding: 0;
            margin: 0;

            li {
                list-style-type: none;
                display: grid;
                grid-template-columns: 1fr 2fr 3fr;
                gap: 3rem;
                border-bottom: 0.83px solid rgba(255, 255, 255, 0.1490196078);
                padding: 4rem 0;
                align-items: center;


                span {
                    font-size: 3rem;
                    font-weight: 500;
                    color: #fff;
                    margin: 0;
                }

                h3 {
                    font-size: 3rem;
                    font-weight: 500;
                    color: #fff;
                    margin: 0;
                }

                p {
                    font-size: 1.8rem;
                    font-weight: 500;
                    margin: 0;
                    color: #b9b9b9;
                }
            }
        }
    }
}

.tool {
    padding: 10rem 0;

    &__title {
        h2 {
            font-size: 5.2rem;
            font-weight: 600;
            color: #fff;
            margin: 0 0 2rem;
        }

        p {
            font-size: 1.8rem;
            font-weight: 500;
            margin: 0;
            color: #b9b9b9;
        }
    }

    &__row {
        padding: 4rem 0 0;
    }

}

.serve {
    padding: 10rem 0;
    background: linear-gradient(98.64deg, #171A21 0.52%, rgba(23, 26, 33, 0) 99.49%);

    &__title {
        h2 {
            font-size: 5.2rem;
            font-weight: 600;
            color: #fff;
            margin: 0 0 2rem;
        }

        p {
            font-size: 1.8rem;
            font-weight: 500;
            margin: 0;
            color: #b9b9b9;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__row {
        margin: 6rem 0 0;
    }

    &__img {
        padding: 0 4rem;
    }

    &__card {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        background-color: #2B2B2B;
        padding: 2.5rem 4rem;
        border-radius: 1.6rem;

        // &:not(:nth-child(2)) {
        //     margin: 0 -6rem 0 0;
        // }

        img {
            width: 10rem;
        }

        p {
            font-size: 1.8rem;
            font-weight: 500;
            color: #fff;
            margin: 0;
        }
    }

}

.values {
    padding: 10rem 0;

    &__title {
        h2 {
            font-size: 5.2rem;
            font-weight: 600;
            color: #fff;
            margin: 0 0 2rem;
        }

        p {
            font-size: 1.8rem;
            font-weight: 500;
            margin: 0;
            color: #b9b9b9;
        }
    }
}

.svc-projects {
    padding: 10rem 0;

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            font-size: 5.2rem;
            font-weight: 600;
            color: #fff;
            margin: 0 0 2rem;

        }
    }
}