@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "variables";
@import "header";
@import "home";
@import "contact";
@import "service";
@import "about";
@import "project";
@import "details";
@import "ai";
@import "policy";
@import "projects";
@import "contact-us";
@import "footer";
@import "new";
@import "svc";
@import "form";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif !important;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: $bg !important;
}

a {
  text-decoration: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

.unset {
  all: unset !important;
  cursor: pointer !important;
}

.default-btn {
  background-color: $primary;
  display: inline-flex !important;
  align-items: center;
  gap: 0.8rem;
  padding: 1.2rem 2.4rem;
  border-radius: 10rem;
  border: none;
  justify-content: center;

  span {
    color: $white;
    font-size: 1.6rem;
    font-weight: 500;
  }

  img {
    animation: arrowRight 1.5s infinite;
  }
}

.outline-btn {
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  padding: 1.2rem 2.4rem;
  border-radius: 10rem;
  border: 0.1rem solid $primary;
  color: $white;
  font-size: 1.6rem;
  font-weight: 500;
}

.mySwiper,
.reviewSwiper {
  overflow: hidden;
}

.scrolled {
  margin: 0;
  border-radius: 0;
}

#mainHeader {
  transition: all 0.3s ease;
}

.chat-padding {
  .chat {
    padding: 0 0 10rem !important;

    @media #{$xs} {
      padding: 0 !important;
    }
  }
}

// @media (min-width:1401px) {
//   .container {
//     max-width: 80% !important;
//     padding: 0 2rem;
//   }
// }
.loader {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255, 255, 255, .3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}